<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
<!--   
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png"> -->
    <link href="./static/assets/ps1.png" rel="icon">

  <title>PS</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./projects.html" title="">02 : Projects</a></li>
          <li><a href="./contact.html" title="">03 : Contact</a></li>
          
        </ul>
      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">02 : Projects</h1>
        </div>
      </div>

      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">

                      <a href="./work1.html" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/fabric.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001</h4>
                        <h3>Bing News Sentiment analysis.</h3>
                        <p>This project showcases the power of Microsoft Fabric for unified data engineering, machine learning, and business intelligence.</p>
                        <a href="./work1.html" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                    <div class="col-sm-4">
                      <a href="./work2.html" title="" class="black-image-project-hover">
                  <img src="./static/assets/images/stream.png" alt="" class="img-responsive">
                  </a>
                  <div class="card-container card-container-lg">
                    <h4>002</h4>
                    <h3>Live Weather Data Streaming & Analytics</h3>
                    <p>Designed and implemented a cloud-native architecture for real-time weather data ingestion and analytics using Microsoft Azure.</p>
                <a href="./work2.html" title="" class="btn btn-default">Discover</a>
                </div>
                 </div>

                  <div class="col-sm-4">
                      <a href="./work3.html" title="" class="black-image-project-hover">
                  <img src="./static/assets/images/databricks.jpg" alt="" class="img-responsive">
                  </a>
                  <div class="card-container card-container-lg">
                    <h4>003</h4>
                    <h3>Incremental Formula One Data Pipeline with Medallion Architecture on Databricks</h3>
                    <p>Developed an incremental data pipeline on Azure Databricks to process Formula One race datasets efficiently.</p>
                <a href="./work.html" title="" class="btn btn-default">Discover</a>
                </div>
                 </div>

              </div>
                <!--/row-->




            </div>
        </div>
        <!--/carousel-inner--> 
<!--         <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a> -->
     </div>
    <!--/myCarousel-->
    </div>
    </div>
  </div>
</div>




<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>




