<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  

    <link href="./static/assets/ps1.png" rel="icon">

  <title>PS</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./projects.html" title="">02 : Projects</a></li>
          <li><a href="./contact.html" title="">03 : Contact</a></li>
         
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work1.html" title="" class="active">001</a></li>
            <li><a href="./work2.html" title="" class="active">002</a></li>
            <li><a href="./work3.html" title="" class="active">003</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
                  <h1 style="font-size:30px;">Incremental Formula One Data Pipeline with Medallion Architecture on Databricks</h1>
          </div>
          <br>
           <h2 style="font-size:20px;">Description:</h2>
           <br>
           <br>
            <p> 🔹 Developed an incremental data pipeline on Azure Databricks to process Formula One race datasets efficiently.</p>
             <p>🔹 Implemented Medallion Architecture (Bronze → Silver → Gold) with Unity Catalog for structured, scalable, and reliable data management, ensuring centralized governance, fine-grained access control, and consistent metadata across layers
</p>  
             <p>🔹 Bronze Layer: Ingested raw race telemetry, driver stats, and constructor data from multiple sources into Delta Lake.</p>
             <p>🔹 Silver Layer: Applied cleansing, deduplication, and incremental transformations to standardize race data while ensuring schema consistency.</p>
             <p>🔹 Gold Layer: Curated business-ready tables for advanced analytics, including driver performance comparisons, constructor rankings, and race outcome predictions.</p>
             <p>🔹Optimized incremental loads using Delta Lake’s ACID transactions and time-travel features, reducing processing overhead and improving pipeline reliability.</p>
             <p>🔹• Enabled real-time insights by integrating curated datasets with visualization tools like Power BI for dashboards on race metrics and performance trends.
</p>
        </div>

      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>