<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  

    <link href="./static/assets/ps1.png" rel="icon">

  <title>PS</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./projects.html" title="">02 : Projects</a></li>
          <li><a href="./contact.html" title="">03 : Contact</a></li>
         
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work1.html" title="" class="active">001</a></li>
            <li><a href="./work2.html" title="" class="active">002</a></li>
            <li><a href="./work3.html" title="" class="active">003</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
                  <h1 style="font-size:30px;">Live Weather Data Streaming & Analytics.</h1>
          </div>
          <br>
           <h2 style="font-size:20px;">Description:</h2>
           <br>
           <br>
            <p> 🔹 Designed and implemented a cloud-native architecture for real-time weather data ingestion and analytics using Microsoft Azure.</p>
             <p>🔹 Integrated Live Weather API with Azure Event Hub to enable high-throughput streaming of continuous weather data.</p>  
             <p>🔹 Developed event-driven workflows using Azure Functions for automated data processing and orchestration.</p>
             <p>🔹 Stored and queried processed data in Kusto DB (Eventhouse) for fast retrieval and historical trend analysis.</p>
             <p>🔹 Built interactive dashboards in Power BI to visualize weather metrics and provide actionable insights.</p>
             <p>🔹Implemented real-time intelligence with Data Activator, enabling automated responses to critical weather conditions.</p>
             <p>🔹Configured real-time alerts via Outlook integration to notify stakeholders of severe weather events.</p>
            <img src="./static/assets/images/weather.png" alt="" class="img-responsive">
        </div>

      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>